In [51]:
import numpy as np

In [52]:
months = np.array(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
revenue = np.array([12000,15000,18000,21000,25000,23000,28000,30000,27000,22000,19000,17000])
customers = np.array([120,135,160,180,200,190,230,250,240,210,175,160])
ad_spend = np.array([2000,2200,2500,2800,3200,3100,3500,4000,3700,3300,2900,2700])

# Basic Analysis

In [53]:
#Find the total revenue
total_revenue = np.sum(revenue) 
print(total_revenue)

257000

In [54]:
#Find the average revenue per month
avg_revenue = np.mean(revenue)
print(avg_revenue)

21416.666666666668

In [55]:
#Find the month with highest revenue
highest_rev = np.max(revenue)
print(months[np.where(revenue == highest_rev)])

['Aug']

In [56]:
#Find the month with lowest revenue
lowest_rev = np.min(revenue)
print(months[np.where(revenue == lowest_rev)])

['Jan']

# Customer Analysis

In [57]:
#Find the total number of customers for the year.
print(np.size(customers))

12

In [58]:
#Find the average revenue per customer for each month
avg_cus = revenue / customers
for i, j in enumerate(avg_cus):
    print(months[i], j)

Jan 100.0
Feb 111.11111111111111
Mar 112.5
Apr 116.66666666666667
May 125.0
Jun 121.05263157894737
Jul 121.73913043478261
Aug 120.0
Sep 112.5
Oct 104.76190476190476
Nov 108.57142857142857
Dec 106.25

In [59]:
#Identify the month with the highest number of customers.
print(months[np.where(customers == np.max(customers))])

['Aug']

# Advertising Performance

In [60]:
#Compute the Revenue-to-Ad Spend Ratio for each month
roi = ((revenue - ad_spend)/ad_spend) * 100

for i, ro in enumerate(roi):
    print(months[i], ro)

Jan 500.0
Feb 581.8181818181819
Mar 620.0
Apr 650.0
May 681.25
Jun 641.9354838709677
Jul 700.0
Aug 650.0
Sep 629.7297297297297
Oct 566.6666666666667
Nov 555.1724137931035
Dec 529.6296296296297

In [61]:
#Identify the month with the highest ROI (Return on Investment) in advertising
roi = ((revenue - ad_spend)/ad_spend) * 100
print(months[np.where(roi == np.max(roi))])

['Jul']

In [62]:
#Find the correlation coefficient between advertising spend and revenue.
print(np.corrcoef(ad_spend, revenue)[0,1])

0.9659379634633412

# Trend Analysis

In [63]:
#Compute the monthly revenue growth rate (percentage change from the previous month).
mrg = (revenue[1:] - revenue[:-1]) / revenue[:-1] * 100

for i, rev in enumerate(mrg):
    print(months[i], "to", months[i+1], "is", rev)

Jan to Feb is 25.0
Feb to Mar is 20.0
Mar to Apr is 16.666666666666664
Apr to May is 19.047619047619047
May to Jun is -8.0
Jun to Jul is 21.73913043478261
Jul to Aug is 7.142857142857142
Aug to Sep is -10.0
Sep to Oct is -18.51851851851852
Oct to Nov is -13.636363636363635
Nov to Dec is -10.526315789473683

In [64]:
#Identify the months where revenue declined compared to the previous month.
for i, rev in enumerate(mrg):
    if rev < 0:
        print(months[i], "to", months[i+1])

May to Jun
Aug to Sep
Sep to Oct
Oct to Nov
Nov to Dec